
@import "./variables.scss";
.form{
margin-top: 20rem;
    &__control{
        padding:5rem;
        display: flex;
        justify-content: space-around;
        background-image: linear-gradient(to bottom, rgba($primary-color, 0.2),
            rgba($primary-color-dark, 0.5));
        &-div{

        }
    }
    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        color: aliceblue;
        margin-bottom: 2rem;
    }
    &__input{
         font-size: 1.5rem;
         font-family: inherit;
         padding: 1.5rem 2rem;
         border-radius: 2px;
         background-color: rgba($accent-color, .5);
         border:none;
         border-bottom: 3px solid transparent;
         width: 100%;
         display: block;
         transition: all .3s;

         &:focus {
             outline: none;
             box-shadow: 0 1rem rgba(black, .1);
             border-bottom: 3px solid $primary-color;
         }

    }

    &__button{

    }

}